// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-item{
    padding: 20px 40px;
    border:solid 2px #85992b;
    width:50%;
    margin: 1px 0;
}

.post-right{
    display: flex;
    justify-content: flex-end;
}


.form {
    padding-top: 10px;
    padding-left: 10px;
    margin: 20px 0;
    border:solid 2px #56d175;
    width:50%;
}

.form-name input{
    width: 80px;
}

.form input{
    margin-bottom:10px;
    border: solid 1px #dee7ec;
}

textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: solid 1px #dee7ec;
}
.form-btn input{
    margin-left:38px;
    margin-top:10px;
    border: solid 1px #dee7ec;
}


.main{
    background-image: url("/sasanoha.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-left:20px;
    }