// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_register select {
    border:2px black solid;
}

.user_register input {
    border:2px black solid;
}



.result_register {
    border:2px black solid;
    padding:20px;
}


.result_register select {
    border:2px black solid;
}

.result_register input {
    border:2px black solid;
}